**/node_modules/**
**/third_party/**
**/source-maps/**

cli/test/fixtures/byte-efficiency/bundle.js

/dist/**

coverage/**

!.eslintrc.cjs

core/scripts/legacy-javascript/variants

third-party/**

# ignore d.ts files until we can properly lint them
*.d.ts
