*.js eol=lf

# Always show in github ctrl-t file browser
**/locales/*.json linguist-generated=true
build/** linguist-generated=false

# Git large file storage
*.psd filter=lfs diff=lfs merge=lfs -text
**/fixtures/lfs-traces/** filter=lfs diff=lfs merge=lfs -text
