
.lh-vars {
  --charts-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4zm2.5 2.1h-15V5h15v14.1zm0-16.1h-15c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
}


.lh-audit-group--fielddata {
  padding-bottom: 30px;
  border-bottom: 0;
}

.lh-audit-group--fielddata .lh-audit-group__header::before {
  background-image: var(--charts-icon-url);
}

.lh-audit-group--fielddata .lh-metric-column img {
  max-width: 100%;
}

.report-ss-columns {
  display: flex;
}
.ss-column {
  flex-basis: 175px;
  padding-top: 40px;
}
.ss-column img {
  max-width: 100%;
}

.lh-gauge__wrapper--huge {
  --circle-size: 200px;
  --header-font-size: 80px;
}
.lh-gauge__wrapper--huge .lh-gauge__percentage {
  top: 90px;
}
.lh-gauge__wrapper--huge .lh-gauge__label {
  display: none;
}